body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: medium;
    color: #212121;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

aside {
}

p {
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

li {}

a {
    text-decoration-line: none;
    color: inherit;
}

img {
    width: 100;
}
